* {
  box-sizing: border-box;
}

:root {
  --clr-white: rgb(255, 255, 255);
  --clr-black: #575757;
  --clr-light: rgb(245, 248, 255);
  --clr-light-gray: #575757;
  --clr-light-blue: #7f62d0;
  --clr-dark-blue: #271851;
  --clr-orange: #ff9750;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-light);
  color: var(--clr-black);
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-area {
  width: 100%;
  max-width: 25rem;
  background-color: var(--clr-white);
  box-shadow: 0 10px 60px rgb(39 24 81 / 10%);
  border: 2px solid var(--clr-dark-blue);
  border-radius: 24px;
  padding: 2rem 1.875rem 5rem 1.875rem;
  margin: 0.625rem;
  text-align: center;
}

h1, h2, h3 { 
  color: var(--clr-dark-blue);
  font-weight: 500;
}

.upload-area__title {
  font-size: 1.8rem;
  margin-bottom: 0.3125rem;
}

.upload-area__title svg {
  display: inline-block;
  vertical-align: middle;
}

.upload-area__paragraph {
  font-size: 0.9375rem;
  color: var(--clr-light-gray);
  margin-top: 0;
}

.upload-area__tooltip {
  position: relative;
  color: var(--clr-dark-blue);
  cursor: pointer;
  transition: color 300ms ease-in-out;
}

.upload-area__tooltip:hover {
  color: var(--clr-light-blue);
}

.upload-area__tooltip-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -125%);
  min-width: max-content;
  background-color: var(--clr-white);
  color: var(--clr-light-blue);
  border: 1px solid var(--clr-dark-blue);
  padding: 0.625rem 1.25rem;
  font-weight: 500;
  opacity: 0;
  visibility: hidden;
  transition: none 300ms ease-in-out;
  transition-property: opacity, visibility;
}

.upload-area__tooltip:hover .upload-area__tooltip-data {
  opacity: 1;
  visibility: visible;
}

/* Drop Zoon */
.upload-area__work-area {
  position: relative;
  height: 11.25rem; /* 180px */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dashed var(--clr-dark-blue);
  border-radius: 15px;
  margin-top: 2.1875rem;
  cursor: pointer;
  transition: border-color 300ms ease-in-out;
}

.upload-area__work-area.work-area--Uploaded {
  border: none;
  cursor: default;
}

.upload-area__work-area:hover {
  border-color: var(--clr-light-blue);
}

.work-area__icon {
  display: flex;
  font-size: 3.75rem;
  color: var(--clr-light-blue);
  transition: opacity 300ms ease-in-out;
}

.work-area__paragraph {
  font-size: 0.9375rem;
  color: var(--clr-light-gray);
  margin: 0;
  margin-top: 0.625rem;
  transition: opacity 300ms ease-in-out;
}

.work-area:hover .work-area__icon,
.work-area:hover .work-area__paragraph {
  opacity: 0.7;
}

.work-area__loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  color: var(--clr-dark-blue);
  z-index: 10;
}
.work-area__download-panel {
  display:none;
}
.work-area__download-panel .img-wrapper {
  position: absolute;
  top: 10px;
  right: 0;
  left: 0;
  margin: auto;
  width: 70%;
  height: 70%;
  object-fit: contain;
  padding: 0.3125rem;
  border-radius: 10px;
  z-index: 1000;
  transition: opacity 300ms ease-in-out;
  text-decoration: none;
  color: var(--clr-light-blue);
}
.work-area__download-panel .img-wrapper small {
  display:block;
  color: var(--clr-black);
  font-size: 14px;
  padding-top: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.work-area__download-panel .img-wrapper .btn {
  transition:all 150ms;
  color: var(--clr-dark-blue);
  border: 2px solid var(--clr-orange);
  border-radius: 25px;
  padding: 10px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom:10px;
}
.work-area__download-panel .img-wrapper .btn:hover {
  background-color: var(--clr-orange);
  color:var(--clr-white);
}
.work-area__download-panel .convert-again {
  display: block;
  text-decoration:underline;
  font-size: 14px;
  color: var(--clr-black);
}

.work-area__file-input {
  display: none;
}

.work-area--over {
  border-color: var(--clr-light-blue);
}

.work-area--over .work-area__icon,
.work-area--over .work-area__paragraph {
  opacity: 0.7;
}

.work-area--Uploaded .work-area__icon,
.work-area--Uploaded .work-area__paragraph {
  display: none;
}

.select-converter {
  display:none;
}

.work-area--Select-destination .select-converter {
  display:block;
}

.select-converter .grid {
  display:grid;
  width:100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.select-converter .grid a {
  border:2px solid var(--clr-orange);
  border-radius:5px;
  padding:5px;
  text-align:center;
  text-decoration:none;
  color:var(--clr-dark-blue)
}

.select-converter .grid a:hover {
  color:var(--clr-white);
  background-color:var(--clr-orange);
}

.error-message {
  color:red;
}
